@{
    ViewData["Title"] = "Capricorn - Green - Step A";
}

<h1>Green Route Step A</h1>
<p>@Html.ActionLink("Proceed", "greenstepb", null, null, new { @class = "btn btn-primary" , Id="cap011"})</p>
<p>Note: the next page will take a while to load!</p>