@{
    ViewData["Title"] = "Capricorn";
}
<h1>Welcome to Capricorn!</h1>

<p>We will be tracking to Application Insights (@ViewBag.AppInsightsKey)</p>

<p>Your challenge is to display the victory screen.  No help is available</p>

<p>@Html.ActionLink("Go", "go", null, null, new { @class = "btn btn-primary" })</p>