@{
    ViewData["Title"] = "Capricorn - Rainbow - Step A";
}
<h1>Rainbow Route Step A</h1>
<p>@Html.ActionLink("Rainbow Route Step B", "rainbowstepb", null, null, new { @class = "btn btn-primary" , Id="cap017"})</p>
<p>@Html.ActionLink("Red Route Step B", "redstepb", null, null, new { @class = "btn btn-primary" , Id="cap018"})</p>
<p>@Html.ActionLink("Start Over", "chance", null, null, new { @class = "btn" , Id="cap019"})</p>