@{
    ViewData["Title"] = "Capricorn - Rainbow";
}
<h1>You are following the Rainbow Route</h1>

<p>Your challenge is to display the victory screen.  Pick your next step</p>

<p>@Html.ActionLink("Rainbow Step A", "rainbowstepa", null, null, new { @class = "btn btn-primary" , Id="cap013" })</p>
<p>@Html.ActionLink("Rainbow Step B", "rainbowstepb", null, null, new { @class = "btn btn-primary" , Id="cap014"})</p>
<p>@Html.ActionLink("Switch to Red Route", "redroute", null, null, new { @class = "btn btn-primary" , Id="cap015"})</p>
<p>@Html.ActionLink("Shortcut to Victory", "victoryshortcut", null, null, new { @class = "btn btn-primary" , Id="cap016"})</p>