@{
    ViewData["Title"] = "Capricorn - Red";
}
<h1>You are following the Red Route</h1>

<p>Your challenge is to display the victory screen.  Pick your next step</p>

<p>@Html.ActionLink("Red Step A", "redstepa", null, null, new { @class = "btn btn-primary", Id="cap021" })</p>
<p>@Html.ActionLink("Switch to Rainbow Route", "rainbowroute", null, null, new { @class = "btn btn-primary" , Id="cap022"})</p>
