@{
    ViewData["Title"] = "Capricorn - Victory Shortcut";
}
<h1>Victory Shortcut</h1>
<p>You didnt really think it would be a shortcut did you?</p>
<p>@Html.ActionLink("Proceed", "go", null, null, new { @class = "btn btn-primary" })</p>
<img src="/images/laughing-at-you.jpg" alt="a smiley laughing at you" />
