name: Libra Queue Handler
env:
  DEFAULT_LOCATION: ${{ secrets.DEFAULT_LOCATION }}
  LIBRA_ALIAS: ${{ secrets.LIBRA_ALIAS }}
on:
  push:
    paths:
    - LibraQueueHandler/LibraQueueHandler/**
      
jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
         dotnet-version: 3.1.101
      
    
    - name: 'Run dotnet build'
      shell: bash
      run: |
        # If your function app project is not located in your repository's root
        # Please consider using pushd to change your path
        pushd LibraQueueHandler/LibraQueueHandler
        dotnet build --configuration Release --output ./output
        popd 
        
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
   
    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: ${{env.LIBRA_ALIAS}}-func
        # If your function app project is not located in your repository's root
        # Please consider prefixing the project path in this package parameter
        package: 'LibraQueueHandler/LibraQueueHandler/output'
        
       


